# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Java\workspaceIdea\JavaMentor\Pre-project\ORM (Hibernate) и MVC\2.2.1. spring_hibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
